{% extends 'humans_of_hive/base.html' %}
{% load staticfiles %}

{% block title_block %}
  About Humans of Hive
{% endblock %}

{% block body_block %}
  <h1>About Humans of Hive</h1><be />
  <p>{{ info }}</p><hr />

  {% if owners %}
    <div>
      <h2>Humans of Hive was created by:</h2>
      {% for owner in ownners %}
        <ul>
          <li><{{ owner }}</li>
        </ul>
      {% endfor %}
    </div>
  {% endif %}

  <hr />
  <img src="{% static 'images/hive.jpg'}" alt="Picture of Hive" />

  {% endblock %}
