<!DOCTYPE html>
{% load staticfiles %}

{% block script_block %}
  <script src="{% static 'scripts/jquery.min.js' %}"></script>
  <script src="{% static 'scripts/humans-of-hive-jquery.js' %}"></script>
  <script src="{% static 'scripts/humans-of-hive-ajax.js' %}"></script>
{% endblock %}

 <html>
  <html lang="en" dir="ltr">
  <meta charset="utf-8" />
  <head>
    <link rel="stylesheet" href="styles/layout.css" type="text/css">

    <title>
      Humans of Hive-
      {% block title_block %}
        A site for all your Hive stories!
      {% endblock %}
    </title>

  </head>

  <body>
    <div>
      {% block body_block %}
      {% endblock %}
    </div>
    <hr />

    <div>
      <ul>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'add_post' %}">Add a story</a></li>
          <li><a href="{% url 'user_profile' %}">My profile</a></li>
          <li><a href = "{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Sign in</a></li>
          <li><a href="{% url 'register' %}">Sign up</a></li>
        {% endif %}
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'hall_of_fame' %}">Hall of Fame</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
      </ul>

      <div>
        <footer id="footer" class="clear">
          <p class="fl_left">Copyright &copy; 2018 - <a href="#">Humans of Hive Project</a></p>
        </footer>
      </div>
  </body>
</html>
