<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Humans of Hive</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#title">Humans of Hive</a></h1>
    </div>
    <nav>
      <ul>
		<li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'user_profile' %}">User</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
		<li><a href="{% url 'hall_of_fame' %}">Hall of Fame</a></li>
        <li><a href="{% url 'register' %}">Login/Register</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
      <figure><img src="images/hivebar.jpg" alt="Image of Hive">
        <figcaption>
          <h2>Description about Hive</h2>
          <p>{{ info }}</p>
        <footer class="more"><a href="{% url 'about' %}">Read More &raquo;</a></footer>
		</figcaption>
      </figure>
    </section>
    <!-- main content -->
    <div id="homepage">
      <!-- services area -->
      <section id="services" class="clear">
        <!-- article 1 -->
        <article class="one_third">
          <h2>Temporary Title</h2>
          <img src="images/img1.jpg" alt="Picture of Club">
          <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet condimentumst phasellentes dolor ut a ipsum id consectetus. Inpede cumst vitae ris tellentesque fring intesquet.</p>
          <footer class="more"><a href="#">Read More &raquo;</a></footer>
        </article>
        <!-- article 2 -->
        <article class="one_third">
          <h2>Temporary Title</h2>
          <img src="images/img2.jpg" alt="Picture of Club">
          <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet condimentumst phasellentes dolor ut a ipsum id consectetus. Inpede cumst vitae ris tellentesque fring intesquet.</p>
          <footer class="more"><a href="#">Read More &raquo;</a></footer>
        </article>
        <!-- article 3 -->
        <article class="one_third lastbox">
          <h2>Temporary Title</h2>
          <img src="images/img3.jpg" alt="Picture of Club">
          <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet condimentumst phasellentes dolor ut a ipsum id consectetus. Inpede cumst vitae ris tellentesque fring intesquet.</p>
          <footer class="more"><a href="#">Read More &raquo;</a></footer>
        </article>
      </section>
    </div>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2018 - <a href="#">Humans of Hive Project</a></p>
  </footer>
</div>
</body>
</html>