{% extends 'humans_of_hive/base.html' %}
{% load staticfiles %}


{% block title_block %}
  <head>
    <title>Humans of Hive</title>
    <link rel="stylesheet" href="styles/layout.css" type="text/css">
  </head>
{% endblock %}

{% block body_block %}
  <div class="wrapper row1">
    <header id="header" class="clear">
      <div id="hgroup">
        <h1><a href="#title">Humans of Hive</a></h1>
      </div>
    </header>

    <div id="homepage">
      <!-- services area -->
      <selection id="services" class="clear">
      <!-- article 1 -->
      {% if posts %}
      <ul>
        {% for post in posts %}
        <li>
          <article class="one_third">
              <b>{{post.user}}</b>
              <a href="{% url 'show_post' post.slug %}">{{post.title}}</a>
              <!--show post image, user and points-->
            </article>
        </li>
        {% endfor %}
      </ul>
      {% else %}
        <strong>Sorry, there aren't any posts to show just now</strong>
      {% endif %}
      </selection>
    </div>
    </div>
{% endblock %}
