{% extends 'humans_of_hive/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Login
{% endblock %}

{% block body_block %}
  <div class="jumbotron">
    <h1 class="display-3">Login</h1>
  </div>
  <form class="form-signin" role="form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please enter your details</h2>
    <br>
    <label for="id_username" class="sr-only">Username</label>
    <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>
    <br>
    <label for="id_password" class="sr-only">Password</label>
    <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
    <br>
    <button class="btn btn-lg btn-primary btn-sm" type="submit" value="submit">Sign in</button>
  </form>
{% endblock %}
