{% extends 'humans_of_hive/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Remove Follower
{% endblock %}

{% block body_block %}
    {% if not followee_username == request.user.username %}
    {% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}
    <form method="post">
    {% csrf_token %}
    <b>{{ followee }}</b>
    <b>{{ follower }}</b>
    <input type="hidden" name="followee_username" value="{{ followee_username }}" />
    <input type="submit" value="remove {{ followee_username }} as a friend" />
    </form>
    {% endif %}
{% endblock %}