{% extends 'humans_of_hive/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Remove Follower
{% endblock %}

{% block body_block %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Unfollow</h1>
      {% if not followee_username == request.user.username %}
        {% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}
        <form method="post">
        {% csrf_token %}
        <i>Are you sure you want to stop following </i>{{ followee }}<i>?</i>
        <input type="hidden" name="followee" value="{{ followee }}" />
        <input type="submit" value="Unfollow" />
        </form>
       {% endif %}
      <hr />
    </div>
  </div>
{% endblock %}