{% extends 'humans_of_hive/base.html' %}
{% load staticfiles %}

{% block title_block %}
  My posts
{% endblock %}

{% block body_block %}
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Posts</h1>
      <p class="lead text-muted">Added by <b>{{ owner.user }}</b></p>
    </div>
</section>

 <div class="album text-muted">
    <div class="container">
      <div class="row">
        {% if posts %}
          {% for post in posts %}
            <div class="card">
              {% if post.image %}
                <img data-src="{{ MEDIA_URL}}{{ post.picture }}" alt="{{ post.title}}" style="height: 150px; width: 100%; display: block;">
              {% else %}
                <img src="{% static 'images/story_placeholder.jpg'}" alt="placeholder" style="height: 150px; width: 100%; display: block;">
              {% endif %}
              <b>{{ post.user }}</b>
              <p class="card-text"><a href="{% url 'show_post' post.slug %}">{{post.title}}</a></p>
              <!--show post image, user and points-->
            </div>
        {% endfor %}
        {% else %}
          <strong>Sorry, there aren't any posts to show just now</strong>
        {% endif %}
      </div>
    </div>
 </div>
{% endblock %}