{% extends 'humans_of_hive/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ user_profile.user }}
{% endblock %}

{% block body_block %}
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">My Profile</h1>
      <p class="lead text-muted">Howdy {{ user_profile.user }}!</p>
      {% if user_profile.image_exists == True %}
        <img src="{{MEDIA_URL}}/images/{{ user_profile.image }}" alt="profile photo" /><br>
      {% else %}
        <img src="{% static 'images/default-profile.png' %}" alt="profile photo" style="height:150px; width:150px"><br />
      {% endif %}
      <b>Username: </b>{{ user_profile.user }}<br>
      <b>Degree: </b>{{ user_profile.degree }}<br>
      <b>Level of Study: </b>{{ user_profile.level_of_study }}<br>
      <a href="{% url 'user_posts' user_profile.slug %}">View my posts</a><br>
    </div>
  </section>
  <b>I am following:</b><br>
  {% for followee in following %}
    {% if followee == None %}
      <i>You are not following anyone</i><br>
    {% else %}
      {% for f in followee %}
        <li>
          <a href="{% url 'user_posts' f.slug %}">{{ f }}</a>
          <a href="{% url 'remove_follower' path f.slug %}">Unfollow</a>
        </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
  <b>My followers:</b><br>
  {% for follower in followers %}
    {% if follower == None %}
      <i>You have no followers yet</i><br>
    {% else %}
      {% for f in follower %}
        <li>
          {{ f }}
        </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}
