{% extends 'humans_of_hive/base.html' %}
{% load staticfiles %}

{% block script_block %}
  <script src="{% static 'scripts/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{%  static 'scripts/voting.js' %}"></script>
  <script src="{% static 'scripts/humans-of-hive-ajax.js' %}"></script>
{% endblock %}

{% block title_block %}
  {{ post.title }}
{% endblock %}

{% block body_block %}
  {% if post %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{ post.title }}</h1>
      <b>{{ post.user }}</b>
      {% if request.user.is_authenticated %}
        {% if follows == False %}
          <a href="{% url 'add_follower' post.slug user %}">Follow</a>
        {% else %}
          <a href="{% url 'remove_follower' post.slug user %}">Unfollow</a>
        {% endif %}
      {% endif %}
      <p>{{ post.story }}</p>
      {% if post.picture %}
        <img src="{{ MEDIA_URL }}{{ post.img }}" />
      {% endif %}
      <hr />
    </div>
  </div>

  <!--Upvote button -->
    <div>
      Points: <strong id="point_count">{{ post.points }}</strong>
      {% if request.user.is_authenticated %}
        <button id="points" data-postid="{{post.id}}" class="btn btn-primary btn-sm" type="button">Upvote</button>
      {% endif %}
    </div>

    <h2>Comments</h2>
    {% if comments %}
      {% for comment in comments %}
        <div>
          <ul>
            <li>
              <b>{{comment.owner}}</b>
              <p>{{comment.content}}</p>
            </li>
          </ul>
        </div>
      {% endfor %}
    {% else %}
      <i>There aren't any comment right now</i>
    {% endif %}
    {% else %}
      <b>Something went wrong</b>
  {% endif %}

  <a href='{% url "add_comment" post.slug %}'>Add a comment</a>

  {% endblock %}
