{% extends 'humans_of_hive/base.html' %}
{% load staticfiles %}

{% block titleblock %}
  About
{% endblock %}

{% block bodyblock %}

<h1><b>Welcome to humans of hive</b></h1>
<div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales eros sit amet mattis vulputate. Vivamus porta vestibulum sem
    ut auctor. Morbi felis nulla, iaculis et aliquam non, rutrum eu felis. Integer sed metus ipsum. Fusce sit amet aliquam mauris.
    Aenean sollicitudin faucibus velit, vel molestie leo iaculis ac. Curabitur vulputate mi ante, nec aliquet elit tempus eu. Integer
    sed neque mattis, ullamcorper sapien quis, interdum risus. Pellentesque vel sodales purus, eu blandit magna. Nunc nec interdum
    ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at bibendum leo, sit amet placerat risus. Quisque et
    iaculis sem, non facilisis nulla. Maecenas in molestie tortor. Morbi consectetur at est vel hendrerit.
  </p>
</div>
<div>
  Humans of hive was created by: <br />
  <ul>
    <li>Allan Petrie</li>
    <li>Andrew Craig</li>
    <li>Jonathan Henderson</li>
    <li>Marija Vaskeviciute</li>
  </ul>
</div>

<div>
  <img src = "{% static 'images/hive.jpg' %}" alt="Inside hive" />
</div>

{% endblock %}
